
<div class="niveau_title"> Niveau: L1 </div>

<div class="parcours_title"> PARCOURS: Génie logiciel et Base de données </div>


<!-- asina input semestreName / -->
<app-enseignements
    [semestreName] = "premierSemestre"
    [semestreTitle]="PremierSemestre"
    [anneeUniversitaire]="anneeUniversitaire"
    [niveau]="niveau"
    [parcours]="parcours"
    > 
</app-enseignements>

<app-enseignements 
    [semestreName] = "deuxiemeSemestre"
    [semestreTitle]="DeuxiemeSemestre"
    [anneeUniversitaire]="anneeUniversitaire"
    [niveau]="niveau"
    [parcours]="parcours"
    >
</app-enseignements>
<!-- [anneeUniversitaire]="anneeUniversitaire"
[niveau]="niveau"
[parcours]="parcours" -->