.mat_card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5em;
}

mat-card {
    width: 700px;
}
.fiche_title, .parent_title , .bacc_title, .bordereau_title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    margin-top: 3em;
    margin-top: 1em !important;
    font-weight: bold;
}

span {
    font-weight: bold;
    text-decoration: underline;
}
.avatar {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 35px;
    margin-top: 2.5em;
}

.info_personnelle,
.parents,
.info_bacc,
.info_bordereau {
    margin-left: 2em;
    
}

.bordereau {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parcours_niveau {
    text-align: center;
}

.create_student_profile_header {
    display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-end;
    
}

.create_student_profile_header_content {
    text-align: center;
}
.promotion {
    text-align: center;
    font-weight: bold;
}

.niveau_parcours {
    font-weight: bold;
}

.create_user_title, .btn_create_password {
    text-align: center;
}

.button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_send_student {
    background-color:  #42a5f5;
    color: white;
    text-align: center;
    width: 70%;
}

.controles-container > * {
    width: 100%;
}

.accept_inscription {
    width: 100%;
    margin-top: 20px;

}

.deny_inscription {
   
    width: 100%;
}

.inscription_detail_action {
    width: 70%;
    margin: auto;
}