
<!-- <pre> {{ semestre1.value | json }} </pre> -->

<!-- <div>
    <ue></ue>
</div> -->
 <div class="semestre_one_container">
    <form [formGroup]="semestre1">
     <mat-card> 
        <h1 class="premier_semestre" >
           {{ semestreTitle }}
        </h1>
        <div class="premmier_semestre_name_container">
            <mat-form-field appearance="standard" class="premier_semestre_name">
                <input matInput placeholder="Nom semestre" formControlName="semestreName"  type="text">
           </mat-form-field>
          
        </div>

        <div class="btn_enregistrer_wrapper">
        <!-- Tokony tsy hirehitra ra misy donnée avy any  -->
        <!-- Mirehatra raha nisy modification -->
        <!-- Mirehitra ra ohatra ka nanampy matiere sady valid (efa mety) -->
            <button [disabled]="semestre1.invalid" mat-raised-button class="btn_create_ues" (click)="createUes(semestre1.value)">
                Enregistrer
            </button>
        </div>

             <mat-card-header>

                <mat-card-title>
                    <button  mat-raised-button class="btn_add_ue" (click)="addUe()">
                        Ajouter une unité d'enseignement</button>
                </mat-card-title>
               
            </mat-card-header>
            
            <mat-card-content>
                    
                    <div formArrayName="ues">
                        <div *ngFor="let ue of ues().controls; let ueIndex=index">

                            <div [formGroupName]="ueIndex">
                                
                                <div class="ue_container">
                                                <div class="ueName_container">
                                                    <mat-form-field appearance="standard" class="ue_name">
                                                        <mat-label> UE </mat-label>
                                                        <input matInput type="text" formControlName="ueName" >
                                                    </mat-form-field>
                                                    <div>
                                                        <span> Crédit : {{ getTotalCreditPerUe(ueIndex) }} </span>
                                                        
                                                    </div>
                                                </div>
                                                
                                                <div>
                                                    <button mat-button color="primary"
                                                        (click)="addUeMatiere(ueIndex)">
                                                        <mat-icon>add </mat-icon>
                                                        Ajouter Matiere
                                                     </button>
                                                </div>
                                                
                                    

                                                <button matTooltip="Supprimer l'UE" class="removeUe" mat-button color="warn" (click)="removeUe(ueIndex)">
                                                    <mat-icon>remove_circle</mat-icon>
                                                </button>
                                                
                                                <div formArrayName="matieres">
                                                    <div *ngFor="let matiere of getUeMatieres(ueIndex).controls; let matiereIndex=index">
                                                        <div [formGroupName]="matiereIndex">
                                                            <div class="matieres_container">
                                                                <mat-form-field appearance="standard" class="libelle">
                                                                    <mat-label> Libelle</mat-label>
                                                                    <input matInput type="text" formControlName="libelle" >
                                                                </mat-form-field>
                                                        
                                                                <mat-form-field appearance="standard" class="abbreviation">
                                                                    <mat-label> Abbreviation</mat-label>
                                                                    <input matInput type="text" formControlName="abbreviation" >
                                                                </mat-form-field>
                
                                                                <mat-form-field appearance="fill" class="et">
                                                                    <mat-label> ET </mat-label>
                                                                    <input matInput min="0" type="number" formControlName="enseignementTheorique" >
                                                                </mat-form-field>

                                                                <mat-form-field appearance="fill" class="ed">
                                                                    <mat-label> ED </mat-label>
                                                                    <input matInput min="0" type="number" formControlName="enseignementDirige" >
                                                                </mat-form-field>
                
                                                                <mat-form-field appearance="fill" class="ep">
                                                                    <mat-label>  EP </mat-label>
                                                                    <input matInput min="0" type="number" formControlName="enseignementPratique" >
                                                                </mat-form-field>
                                                                
                                                                <mat-form-field appearance="fill" class="credit" >
                                                                    <mat-label> Credit </mat-label>
                                                                    <input matInput min="0" type="number" formControlName="credit">
                                                                </mat-form-field>
                
                                                                <mat-form-field appearance="fill" class="poids">
                                                                    <mat-label> Poids </mat-label>
                                                                    <input matInput min="0" type="number" formControlName="poids">
                                                                </mat-form-field>

                                                                <mat-form-field appearance="standard" class="enseignant">
                                                                    <mat-label> Enseignant </mat-label>
                                                                    <mat-select formControlName="enseignant">
                                                                        <mat-option 
                                                                            *ngFor="let enseignant of enseignants" 
                                                                             value="{{enseignant.nom }}">
                                                                             <div style="padding-bottom: 20px;">
                                                                                <img src="http://localhost:3000/images/{{enseignant.image}}" style=" margin-top: 2em; width: 30px; height:30px; border-radius: 50px;">
                                                                                
                                                                                <span> {{ enseignant.nom }} {{ enseignant.prenom}} </span>
                                                                     
                                                                             </div>
                                                                              
                                                                        </mat-option>
                                                                         
                                                                    </mat-select>

                                                                </mat-form-field>
                                                                
                                                                <button  mat-button (click)="getCreditPerMatiere(ueIndex, matiereIndex)">
                                                                    Crédit
                                                                </button>

                                                                <button  mat-button (click)="getPoidsPerMatiere(ueIndex, matiereIndex)">
                                                                    Poids
                                                                </button>
                                                               <!-- <button color="primary" mat-button (click)="onSaveMatiere(ueIndex, matiereIndex)"> -->
                
                                                                <!-- <button 
                                                                [disabled]="isUeSet ||
                                                                 getUeMatieres(ueIndex).controls[matiereIndex].untouched
                                                                || getUeMatieres(ueIndex).controls[matiereIndex].pristine
                                                                 || getUeMatieres(ueIndex).controls[matiereIndex].invalid
                                                                "
                                                                color="primary"
                                                                mat-button
                                                                (click)="onSaveUe(semestre1.value)">
                                                                    <mat-icon>save</mat-icon>
                                                                </button>  -->
                                                                <button  matTooltip="Supprimer la matière" mat-button color="warn" (click)="removeUeMatiere(ueIndex,matiereIndex)">
                                                                    <mat-icon>delete</mat-icon>
                                                                </button>
                                                                
                                                            

                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div> 
                                </div>
                            </div>


                        </div>
                    </div>
            </mat-card-content>
    </mat-card>
</form>
</div>