

.semestre_one_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5em;
}

.premier_semestre,
.premmier_semestre_name_container,
.ueName_container
{
   text-align: center !important;
}

.premier_semestre_name
{
    width: 30px;
    text-align: center;
}

.ue_name {
    text-align: center;
    width: 300px;
}


.et,
.ed,
.ep,
.credit,
.poids {
    width: 70px;
    text-align: center;
    padding-left: 1em;
}

.enseignant {
    width: 200px;
    text-align: center;
    margin-left: 1em;
}

.libelle,
.abbreviation {
    text-align: center;
    padding-left: 1em;
}

.libelle {
    width: 300px;
}

mat-card {
    width: 1400px;
}

.ue_container {
    border: 1px powderblue solid;
}

.removeUe {
    position: absolute;
    right: 0;
    top: 0;
}

.btn_add_ue {
    background-color: #42a5f5;
    color: white;
}

.ue_container {
    position: relative;
    margin-top: 1.5em;
}

.matieres_container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn_enregistrer_wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
}
.btn_create_ues {
    background-color: #2cda68;
    color: white;
   
    
}

