<div fxFlex="95%">
<div class="inscription_wrapper">
   <div *ngFor="let inscriptionList of inscriptionsList | async" class="single_inscription_component">
 
       <mat-card class="single_inscription_info">

            <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img class="image_avatar" src="http://localhost:3000/images/{{inscriptionList.etudiant.avatar}}" alt="">
            </div>
            <div class="inscription_header_info">
                    <mat-card-title style="color:#42a5f5"> {{ inscriptionList.etudiant.nom }} {{ inscriptionList.etudiant.prenom }}</mat-card-title>
                    <mat-card-subtitle>{{ inscriptionList.etudiant.mail }}</mat-card-subtitle>
                    <p> ID: {{ inscriptionList.id }}</p>
            </div>
            <div>
                <mat-card-subtitle class="inscription_date"> {{ inscriptionList.date | date:"mediumDate" }}</mat-card-subtitle>
                   
                <a [routerLink]="[ '/inscriptions', inscriptionList.id ]" >
                        <span 
                            matTooltip="Voir le détails"
                            matTooltipPosition="after">
                            <mat-icon>remove_red_eye</mat-icon>
                        </span>
                    </a>
            </div>


          </mat-card-header>
    
           <mat-card-content>
              
               
               <mat-chip-list aria-label="Fish selection"> 
 
                   <mat-chip>
                    <span> Niveau: {{ inscriptionList.niveau.libelle }} </span>
                    <span> &nbsp; &nbsp; </span> 
                   </mat-chip>
                   <mat-chip>
                    <span> Parcours: {{ inscriptionList.parcours.abbreviation }} </span>
                   </mat-chip>
                   <!-- <mat-chip >
                       <span mat-card-avatar 
                       style="background-image: url('http://localhost:3000/images/{{inscriptionList.etudiant.avatar}}'); 
                       background-size: cover; width: 30px; height: 30px; margin-left: -10px;">
                       </span>
                       <span style="margin-left: 5px;">
                        {{ inscriptionList.etudiant.prenom }}
                           <img src="http://localhost:3000/images/{{inscriptionList.etudiant.avatar}}" alt=""> 
                       </span>
                   </mat-chip> -->
                   <!-- Ovaina atao tanana -->
      
                  
                    <p [ngClass]="{'accepte': inscriptionList.etat === 'Accepté',
                                    'refuse' : inscriptionList.etat === 'Refusé',
                                    'attente' : inscriptionList.etat === 'En cours'}" 
                        class="etat_inscription"
                    >{{ inscriptionList.etat }} 
                    </p>
                 
               
               </mat-chip-list>
               
           </mat-card-content>
           <!-- <mat-card-actions align="center">
           
            <button mat-button>Voir</button>
           </mat-card-actions> -->
       </mat-card>
   </div>
</div>

</div>

