<div class="navbar-container" >

<mat-toolbar  class="navbar" color="primary" class="mat-elevation-z4">
  <button *ngIf="authService.isLoggedIn()" (click)="opened=!opened" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon style="color: white;">menu</mat-icon>
  </button>
  <span *ngIf="authService.isLoggedIn()" style="color: white;">Gestion inscription et notes</span>
  
  <span class="example-spacer "></span>

  <span *ngIf="!authService.isLoggedIn()" class="example-spacer" style="color: white;"> Vous êtes un nouveau étudiant ? <a [routerLink]="['/inscription']" style="color: wheat;">Inscrivez-vous facilement ici !</a> </span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button> -->

  <button *ngIf="!authService.isLoggedIn()" mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
      <a *ngIf="!authService.isLoggedIn()" [routerLink]="['/login']" mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        Se connecter
      </a>
      <a [routerLink]="['/inscription']" mat-menu-item> 
        <mat-icon>voicemail</mat-icon>
        S'inscrire
      </a>
  </mat-menu>

  <button *ngIf="authService.isLoggedIn()" mat-button class="example-icon favorite-icon" [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
    <span fxShow fxHide.xs>
     {{ authService.currentUser.username }}
    </span>
  </button>
  <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

    <a *ngIf="authService.currentUser.roles === 'admin' " 
        mat-menu-item [routerLink]="['/adminProfile', authService.currentUser.profile]">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </a>
    <a  *ngIf="authService.currentUser.roles === 'enseignant' " 
        mat-menu-item [routerLink]="['/enseignantProfile', authService.currentUser.profile]">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </a>
    <a  *ngIf="authService.currentUser.roles === 'scolarite' "
        mat-menu-item [routerLink]="['/scolariteProfile', authService.currentUser.profile]">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </a>
    <a *ngIf="authService.currentUser.roles === 'etudiant' "
        mat-menu-item [routerLink]="['/etudiantProfile', authService.currentUser.profile]">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </a>

    <a *ngIf="authService.currentUser.roles === 'admin' " mat-menu-item (click)="onCreateProfile()" >
        <mat-icon>add</mat-icon>
        <span>Créer utilisateur</span>
      </a>

    <a mat-menu-item (click)="authService.logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Se déconnecter</span>
    </a>

  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="navbar-sidenav-container">
      <mat-sidenav *ngIf="authService.isLoggedIn()" mode="side" [(opened)]="opened"> 
        <mat-nav-list>
            <div class="profile-card">
                <div *ngIf="authService.currentUser.roles === 'admin'" >
                    <div class="header">
                        <h2>{{ (admin | async )?.prenom }}</h2>
                        <h4>{{ (admin | async )?.email }}</h4>
                    </div>
                    <img class="image_avatar" src="http://localhost:3000/images/{{ (admin | async)?.image}}" alt="dog">
                </div>
                <div *ngIf="authService.currentUser.roles === 'enseignant'" >
                  <div class="header">
                    <h2>{{ (enseignant | async )?.prenom }}</h2>
                    <h4>{{ (enseignant | async )?.email }}</h4>
                  </div>
                  <img class="image_avatar" src="http://localhost:3000/images/{{ (enseignant | async)?.image}}" alt="dog">
              </div>
              <div *ngIf="authService.currentUser.roles === 'scolarite'" >
                <div class="header">
                  <h2>{{ (scolarite | async )?.prenom }}</h2>
                  <h4>{{ (scolarite | async )?.email }}</h4>
                </div>
                <img class="image_avatar" src="http://localhost:3000/images/{{ (scolarite | async)?.image}}" alt="dog">
            </div>
              </div>
            <mat-divider></mat-divider>
            <h2 matSubheader> Administration </h2>
            <a [routerLink]="['/home']" mat-list-item >Acceuil</a>
            <a [routerLink]="['/inscriptions']" mat-list-item >Inscriptions</a>
            <a mat-list-item >Notes</a>
            <a mat-list-item >Reclamations</a>
            <a mat-list-item [matMenuTriggerFor]="enseignementMenu">
              Enseignement
            </a>  
            <a [routerLink]="['/enseignements']" mat-list-item >Enseignement</a>

            <a mat-list-item >Enseignant</a>
            <a mat-list-item >Etudiants</a>
            <a mat-list-item >Utilisateurs</a>

            <mat-menu #enseignementMenu="matMenu" xPosition="after" style="margin-left: 2em !important;">
              <button mat-menu-item [matMenuTriggerFor]="subMenuGB">GB</button>
              <button mat-menu-item [matMenuTriggerFor]="subMenuSR" >SR</button>
              <button mat-menu-item [matMenuTriggerFor]="subMenuIG">IG</button>
            </mat-menu>
            <mat-menu #subMenuGB="matMenu" >
              <a mat-menu-item [routerLink]="['/L1GB']"> L1</a>
              <a mat-menu-item [routerLink]="['/L2GB']">L2</a>
              <a mat-menu-item [routerLink]="['/L3GB']">L3</a>
              <a mat-menu-item [routerLink]="['/M1GB']">M1</a>
              <a mat-menu-item [routerLink]="['/M2GB']">M2</a>
            </mat-menu>
            <mat-menu #subMenuSR="matMenu" >
              <a mat-menu-item [routerLink]="['/L1SR']">L1</a>
              <a mat-menu-item [routerLink]="['/L2SR']">L2</a>
              <a mat-menu-item [routerLink]="['/L3SR']">L3</a>
              <a mat-menu-item [routerLink]="['/M1SR']">M1</a>
              <a mat-menu-item [routerLink]="['/M2SR']">M2</a>
            </mat-menu>
            <mat-menu #subMenuIG="matMenu" >
              <a mat-menu-item [routerLink]="['/L1IG']">L1</a>
              <a mat-menu-item [routerLink]="['/L2IG']">L2</a>
              <a mat-menu-item [routerLink]="['/L3IG']">L3</a>
              <a mat-menu-item [routerLink]="['/M1IG']">M1</a>
              <a mat-menu-item [routerLink]="['/M2IG']">M2</a>
            </mat-menu>

        </mat-nav-list>
      </mat-sidenav>
      
        <mat-sidenav-content class="sidenav-content">
        
              
                <router-outlet></router-outlet>
            
            
        </mat-sidenav-content>   
 </mat-sidenav-container>


</div>


