<div class="enseignant_profile_container">
    <div>
        ID : {{ ( enseignant | async )?.id }}
    </div>
    <div>
        Nom : {{ ( enseignant | async )?.id }}
    </div>
    <div>
        Prenom : {{ ( enseignant | async )?.id }}
    </div>
    <div>
        Titre : {{ ( enseignant | async )?.titre }}
    </div>
    <div>
        Tel : {{ ( enseignant | async )?.tel }}
    </div>
    <div>
        email : {{ ( enseignant | async )?.email }}
    </div>
    <div>
        Sexe : {{ ( enseignant | async )?.sexe }}
    </div>

</div>
