<div class="enseignant_profile_container">


    <mat-card>
        <div class="image_avatar_container">
                <ng-container *ngIf="(enseignant | async)?.image; then thenTemplate; else elseTemplate"></ng-container>
                <ng-template #thenTemplate>
                    <img src="http://localhost:3000/images/{{(enseignant | async)?.image}}" alt="realAvatar" class="realAvatar">
                </ng-template>
                <ng-template #elseTemplate>
                    <img [src]="defaultEnseignantAvatar" alt="defaultAvatar">
                </ng-template>
        </div>
        <a mat-button (click)="onUpdateEnseignantProfile()">
            <mat-icon>create</mat-icon>
        </a>
        <mat-card-content>
            <p class="id_container">
                    ID: {{ (enseignant | async)?.id }}
            </p>
            <p class="email_container">
                Email: {{ (enseignant | async)?.email }}
            </p>
            <div>
                <span> Nom : </span>  {{ (enseignant | async)?.nom }}
            </div>
            <div>
                <span> Prenom:  </span> {{ (enseignant | async)?.prenom }}
            </div>
            <div>
                <span> Titre: </span>  {{ (enseignant | async)?.titre }} 
            </div>
            <div>
                <span> Tel: </span>  {{ (enseignant | async)?.tel }}
            </div>
            <div>
                <span> Sexe : </span>  {{ (enseignant | async)?.sexe }}
            </div>
        </mat-card-content>
    </mat-card>
</div>
