@import '~@angular/material/theming';

@include mat-core();

$my-theme-primary: mat-palette($mat-blue, 400, 50);
$my-theme-accent: mat-palette($mat-orange, 400);
$my-theme-warning: mat-palette($mat-red, 600);

$my-theme: mat-light-theme((
    color: (
        primary: $my-theme-primary,
        accent: $my-theme-accent,
        warn: $my-theme-warning
    )
    ));

@include angular-material-theme($my-theme);
